* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  width: 95%;
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
}
.header2 {
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
}
h2{
  background-color: black;
  padding: 15px;
  margin: 0 auto;
  text-align: start;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 0px 1px rgb(66, 82, 41);
  transition: transform 1s ease-in-out;
}
h2:hover, h2:focus{
  width: 100%;
  background-color: none;
  margin: 0 auto;
  color: red;
  text-shadow: 1px 0px 1px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translateX(20%);
}
.main-b {
  margin-top: 15%;
}
.tag{
  display: flex;
  align-items: center;
  padding: 0px 50px;
  font-family: monospace;
  font-size: 16px;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}
.tag > p{
  display: flex;
  text-align: start;
  margin: 0px 20px;
  margin: 0px;
  text-shadow: 1px 0px 1px greenyellow;
}
.btn-a{
  padding: 5px;
}
.tag > h4{
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 5px 20px;
  color: greenyellow;
}
.tag > h4:hover, .tag > h4:focus{
  color: black;
  background-color: aliceblue;
  padding: 8px;
  border-radius: 10px;
}
.btn{
  padding: 10px;
  margin: 10px;
}
.btn > a, .b-tag .c-tag{
  padding: 6px;
  margin: 30px 25px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
}
.btn > a:hover{
  padding: 12px;
  margin: 5px;
  background-color: rgb(137, 229, 0);
}
section{
  margin: 0px;
  padding: 0px;
}
section >img{
  width: 120px;
}
.main-c{
  margin-top: 0px;
  border-top: 1px solid greenyellow;
}
.main-c > h3{
  font-style: oblique;
  font-stretch: extra-expanded;
  font-size: 22px;
  color: white;
  text-shadow: 1px 0px 1px greenyellow;
}
.abt{
  width: 100%;
  padding: 5%;
  background-color: rgb(1, 18, 18);
  font-size: 17px;
  border-radius: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abt h3 {
  font-size: 30px;

}

.btn-a a {
  text-decoration: none;
  background-color: rgb(255, 13, 13);
  padding: 5px;
  border-radius: 8px;
  color: white;
  margin-top: 30px;
}

.abt p {
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  line-height: 25px;
}
.main-a{
  margin: 45px 0px;
}
.main-a > h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.abt:hover{
  background-color: rgb(206, 201, 234);
  color: black;
}

.fan-art{
  width: 70%;
  max-height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 5px solid rgb(50, 1, 1);
}
.fan-art:hover{
  width: 350px;
  border-radius: 50px;
}
.whole-b{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}
.twt{
  width: 15px;
}
.id{
  width: 80px;
}
.id:hover{
  width: 95px;
  border: 2px solid greenyellow;
  border-radius: 70px;
}
.team{
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.team-id > p{
  display: flex;
  font-family: monospace;
  font-size: 11px;
}
.a-tag{
  text-decoration: none;
  font-family: monospace;
  color: aliceblue;
}

.c-tag:hover{
  padding: 11px 15px;
  font-size: 10px;
}
.b-tag{
  padding: 5px ;
  margin: 15px;
}
.font{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  margin: 20px;
}
.mem{
  width: 80px;
  margin: 10px;
}
.mem:hover{
  width: 340px;
}
.mtm{
  margin-top: 80px;
}
.whole-d{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0px;
  overflow: auto;
  gap: 20px;
  width: 100%;
}
.whole-d > a{
  margin-top: 33px;
}

@media (min-width: 800px) {
  .whole {
    margin: 0 20%;
  }
}